@import 'variables.scss';

body {
    font-family: Montserrat, sans-serif;
    background-color: $color-black;
    height: 100vh;
    display: flex;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 770px;
    width: 380px;
    margin-top: 115px;
    margin-bottom: 115px;
    background-color: $color-light-dark;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.09);

    &:nth-child(1) {
        margin-left: 132px;
    }

    &:nth-child(2), &:nth-child(3) {
        margin-left: 18px;
    }

    &:nth-child(3) {
        margin-right: 132px;
    }

    &__title {
        margin-top: 33px;
        font-size: 35px;
        line-height: 43px;
        font-weight: 700;
        color: $color-white;
        text-align: center;
    }

    &__subtitle {
        margin: 0;
        font-size: 20px;
        line-height: 24px;
        color: $color-white;
        font-weight: 300;
        text-align: center;
    }

    &__price {
        margin-top: 33px;
        width: 380px;
        height: 105px;
        font-size: 55px;
        text-align: center;
        line-height: 105px;
        color: $color-white;
        font-weight: 700;
    }

    &__description {
        margin: 0;
        margin: 40px 26.5px 0 26px;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: $color-white;
        text-align: center;
    }

    &__options-list {
        margin: 0;
        padding: 0;
        margin-top: 40px;
        color: $color-white;
        font-weight: 300;
        line-height: 18px;
        list-style-type: none;

        & li {
            height: 34px;
            padding-left: 59px;
            padding-top: 16px;
        }

        & li:nth-child(odd) {
            background-color: $color-grey;

        }
    }

    &__order-btn {
        padding: 0;
        margin: 39px 0 0 112px;
        width: 154.6px;
        height: 40px;
        border: none;
        border-radius: 20px;
        line-height: 17px;
        color: $color-white;
    }

    &__popular {
        position: absolute;
        width: 147px;
        height: 25px;
        line-height: 25px;
        left: 263px;
        top: 30px;
        transform: rotate(45deg);
        background-color: $color-red;
        font-size: 14px;
        color: $color-white;
        font-weight: 700;
        text-align: center;
    }
}

.second-price-card {
    position: relative;
}

.first-card {
    background-color: $color-green;
}

.second-card {
    background-color: $color-blue;
}

.third-card {
    background-color: $color-orange;
}

.first-option-list li {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
    background-repeat: no-repeat;
    background-size: 15px 13px;
    background-position: 22px 18px;
}

.second-option-list li {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
    background-repeat: no-repeat;
    background-size: 15px 13px;
    background-position: 22px 18px;
}

.third-option-list li {
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
    background-repeat: no-repeat;
    background-size: 15px 13px;
    background-position: 22px 18px;
}